@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,700;1,600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: dotted;
}

body {
	font-family: "Bold 700";
	background-color: black;
	color: white;
}

image{
  width: 100%;
  height: 100%;
}
